@model IEnumerable<InterviewerTestListingModel>
@{
    ViewData["Title"] = "All Tests";
}
<br />
<h2>@ViewData["Title"]</h2>
<br />
<div>
    <a class="btn btn-success" style="margin-right: 15px" asp-area="Interviewer" asp-controller="Tests" asp-action="Create">Create New Test</a>
</div>

<br />
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Details
            </th>
            <th>
                Edit Description
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>
