@model InterviewerTestBindingModel
@{
    ViewData["Title"] = "Create New Test";
}
<br />
<h2>@ViewData["Title"]</h2>
<br />

@*@Html.EditorFor()*@
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create New Test</button>
            <a style="margin: 20px" asp-controller="Tests" asp-action="All" class="btn btn-outline-primary">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
