@model IEnumerable<AdminInterviewsListingViewModel>
@{
    ViewData["Title"] = "Interviews Administration";
}
<br />
<h2 class="text-center">@ViewData["Title"]</h2>
<br />
<div class="text-center">
    <a class="btn btn-success" style="margin-right: 15px" asp-area="Admin" asp-controller="Interview" asp-action="CreateInPerson"> In-Person Interview</a>
    <a class="btn btn-success" style="margin-right: 15px" asp-area="Admin" asp-controller="Interview" asp-action="CreateOnline">Online Test</a>
</div>
<br />
<h3 class="text-center">All Interviews</h3>
<br />
<table class="table table-bordered  table-hover text-center">
    <thead>
        <tr>
            <th>
                Applicant Full Name
            </th>
            <th>
                Interview Type
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>
