
@{
    ViewData["Title"] = "LeaveFeedback";
}

<h2>LeaveFeedback</h2>

<textarea>Next, use our Get Started docs to setup Tiny!</textarea>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
}