@model IEnumerable<AdminUserListingServiceModel>

@{
    ViewData["Title"] = "User Administration";
}
<br />
<h1>@ViewData["Title"]</h1>
<div>
    <a class="btn btn-success" style="margin-right: 15px" asp-area="Admin" asp-controller="Users" asp-action="Create">Add Applicant</a>
    <a class="btn btn-success" asp-area="Admin" asp-controller="Users" asp-action="Create">Add Interviewer</a>
</div>

<br />
<table class="table table-bordered  table-hover">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.Email
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>



